@import url('https://fonts.googleapis.com/css?family=Merriweather');

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Merriweather', serif;
}

body{
	position: absolute;
	width:100%;
	height:100%;
	background: url("../_img/background.png");
}

body::-webkit-scrollbar{
	width:0;
}

button:hover{
	cursor: pointer;
}

#conteudo{
	display: flex;
	height:85%;
}

#bloco-conteudo{
	width:100%;
	display: inline-flex;
	height: 100%;
	align-items: center;
	justify-content: center;
}

#txt-central{
	width:50%;
	height: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding:0px 20px;
	color:#ffab40ff;
	text-align: center;
	text-transform: uppercase;
	background: rgba(0,0,0,0.7);
	
	border-top:3px solid #ffab40ff;
	border-bottom: 3px solid #ffab40ff;
}

#modal-dinamico{
	position: absolute;
	z-index: 1;
	top:0;
	width:0%;
	height:100%;
	background: rgba(0,0,0,0.7);
	transition: all 0.3s;
}

.form-div{
	background: #45e8ac;
	width:35%;
	height: 100%;
	box-shadow: 2px 0px 20px #45e8ac;
	text-align: center;
	padding:15px;
}

.form-div h1{
	display: box;
	width:100%;
	margin:auto;
	margin-bottom:30px;
	border-top:3px solid rgba(51,51,51,0.8);
	border-bottom:3px solid rgba(51,51,51,0.8);
	color:#333;
	font-size:3em;
	text-transform: uppercase;
}

#msg,#msg-dados{
	display: none;
	width:100%;
	height:0;
	padding:5px;
	opacity: 0;
	transition: all 0.2s;
}

.form-div p{
	width:100%;
	margin:8px auto;
	text-align: left;
	color:#fff;
	font-size:0.9em;
}

.form-div p input{
	display: box;
	width:100%;
	height:30px;
	border:1px solid #fff;
	background:transparent;
	color:white;
	outline: none;
	padding:5px;
	box-shadow: inset 0px 0px 4px rgba(255,255,255,0.8);
	transition:all 0.4s;
}

.form-div p input:focus{
	background: rgba(255,255,255,0.3);
	color:#999;
}

.form-div p.sub-campo{
	text-transform: unset;
}

.form-div p.sub-campo button{
	border:none;
	color:#0b5b3e;
	background: transparent;
	font-weight: bold;
}

.form-div p.sub-campo button:hover{
	cursor:pointer;
}

.form-div p.radio{
	display:flex;
	justify-content: center;
	background:#0e714d;
}

.form-div p.radio input{
	display: none;
}

.form-div p.radio label{
	display:block;
	color:#19cc8b;
	width:100%;
	padding:5px;
	text-align:center;
	background-color:white;
	transition: all 0.3s;
}

.form-div p.radio label:hover{
	cursor: pointer;
}

#masculino:checked ~ label[for="masculino"], #nao-binario:checked ~ label[for="nao-binario"], #feminino:checked ~ label[for="feminino"]{
	background-color:transparent;
	color:white;
}

.form-div p.botoes{
	margin-top:3%;
	display: flex;
	justify-content: center;
	height:40px;
}

.form-div p.botoes button{
	width:100%;
	padding:5px;
	border:none;
	font-size:1em;
	color:#19cc8b;
	text-transform: uppercase;
	/*box-shadow: inset 0px 0px 4px rgba(0,0,0,0.7);*/
	background: rgba(255,255,255,1);
	transition: box-shadow 0.4s;
}

.form-div p.botoes button[id="bt-limpa-modal"]{
	margin-left: 5px;
	color:#990000;
	width:45%;
}

.form-div p.botoes button:hover{
	box-shadow:inset 0px 0px 4px #0b5b3e;
}

.form-div p.botoes button[id="bt-limpa-modal"]:hover{
	box-shadow:inset 0px 0px 4px #900;
}
