.bt-morph{
	border-radius:50%;
	width:100px;
	margin:auto;
	height:100px;
	line-height: 100px;
	text-align: center;
	font-size:3rem;
	border:none;
	background:#b3e5b3;
	box-shadow: 3px 3px 0px #b3e5b3aa,inset 0px 0px 0px #222a;
	transition: all 0.2s;
	color:white;
	font-weight: lighter;
}

.bt-morph:active{
	box-shadow: 0px 0px 6px #b3e5b3,inset 3px 3px 0px #222a;
}

.bt-pink{
	background-color:#ecc6d9 !important;
	box-shadow: 3px 3px 0px #ecc6d9aa,inset 0px 0px 0px #222a !important;
	transition: all 0.2s;
}

.bt-pink:active{
	box-shadow: 0px 0px 6px #ecc6d9aa,inset 3px 3px 0px #222a !important; 
}

.block-list{
	width:0;
	height:0;
	overflow: hidden;
	box-shadow:5px 5px 0px #7d7a,-5px -5px 0px #f5dd3daa;
	transition: all 0.2s;
}

.bt-in{
	background-color:#33ccffaa !important;
	box-shadow: 5px 5px 0px #33ccff78 !important;
	transition: all 0.3s;
}

.bt-in:hover{
	background-color:#aaaa!important;
	box-shadow: 5px 5px 0px #aaaaaa78 !important;
}

.bt-txt{
	color:white !important;
	background-color:#34495e !important;
	box-shadow:5px 5px 0px #34495e78 !important;
	transition: all 0.3s;
}

.active-bt-txt{
	background-color:#16a085 !important;
	box-shadow:5px 5px 0px #16a08578 !important;
}

.bt-txt:hover{
	box-shadow:2px 2px 0px #34495e78 !important;
}

.active-bt-txt:hover{
	box-shadow:2px 2px 0px #16a08578 !important;
}

#bloco-itens{
	width:25%;
	transition:all 0.3s;
}

#bloco-atr{
	display:none;
	overflow:hidden;
	width:0;
	transition: all 0.3s;
}

.picker {
	border-radius: 5px;
	width: 90% !important;
	height: 36px !important;
	cursor: pointer;
	border: thin solid #eee;
	transition:all 0.3s;
}
.picker:hover {
	width:98% !important;
}
