#amb-proj{
	padding:0px;
	display:flex;
	width:100%;
	height:100%;
	background: rgba(0,0,0,0.95);
	transition: all 0.5s;
}

#amb-proj #aba-criacao, #amb-proj #aba-atributos{
	width:30%;
	opacity: 0;
	transition: all 0.4s;
}

#amb-proj #projeto{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: bottom;
	width:80%;
	height:100%;
	overflow: scroll;
}

#projeto::-webkit-scrollbar{
	width:0;
}

button#bt-novo-proj, button#bt-carregar{
	width:100%;
	height:45%;
	font-size:3em;
	text-transform: uppercase;
	background:white;
	border:none;
	transition: all 0.4s;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
}

#amb-proj #projeto button#bt-novo-proj{
	margin-bottom: 10px;
}

#projeto #create-mode{
	background-color:white;
	width:100%;
	height:100%;
}

button#bt-novo-proj:hover, button#bt-carregar:hover{
	font-size:3.5em;
}

#projeto #create-mode{
	display:flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	flex-wrap: wrap;
	padding:50px;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

#projeto #create-mode p{
	width:100%;
}

#projeto #create-mode p label{
	display:block;
	width:100%;
	text-align: left;
}
#projeto #create-mode p input{
	display:block;
	width:100%;
	font-size:3em;
	padding:10px 3px;
}

#projeto #create-mode p button{
	display:block;
	width:100%;
	margin:15px 0;
	padding:5px;
	background: white;
	font-size:3em;
	border:none;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

#amb-proj #aba-criacao, #aba-atributos{
	padding:10px;
	display: flex;
	justify-content: center;
	align-items: center;
	height:100%;
}

#aba-criacao div{
	text-align: center;
	align-items: center;
	padding:15px;
	width:120px;
	height:120px;
	border-radius: 50%;
	border:none;
	background: #0099ff;
	overflow: scroll;
	transition: all 0.3s;
}

#aba-criacao div::-webkit-scrollbar{
	width:0;
	display: none;
}

#aba-criacao div #bt-abrir-criacao{
	background: none;
	border:none;
	width:100%;
	height:100%;
	line-height: 100%;
	text-align: center;
}

#aba-criacao div:hover{
	transform: scale(1.5);
	box-shadow: 0px 0px 10px #003d66;
}

#aba-criacao div button{
	margin:5px auto;
	width:100%;
	border:none;
	border-radius:15px;
	background:#003d66;
	color:white; 
	text-align:center;
	padding:10px 0px;
	font-size:2em;
}

#aba-atributos div{
	padding:10px;
	width:0;
	height:0;
	background: none;
	transition: all 0.3s;
}

#aba-atributos div h1{
	text-align: center;
	text-transform: uppercase;
	margin-bottom:10px;
}

#aba-atributos div p label{
	display:inline-block;
	min-width:30%;
	font-size:1.2em;
}

#aba-atributos div p input[type="text"], #aba-atributos div p select{
	width:70%;
}


.colorPickSelector {
	border:1px solid #eee;
	border-radius: 5px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	-webkit-transition: all linear .2s;
	-moz-transition: all linear .2s;
	-ms-transition: all linear .2s;
	-o-transition: all linear .2s;
	transition: all linear .2s;
}

.colorPickSelector:hover { transform: scale(1.1); }