#projeto footer{
		position: absolute;
		bottom: 0;
		display:block;
		text-align: center;
		width:100%;
}
#projeto footer p{
	display:inline-block;
	padding: 2px;
	font-style: italic;
	font-size: 1.5em;
}